.nav.navbar-nav {
  font-size: 1.25em;
}

#searchForm {
  margin-right: 10em;
}

@media (max-width: 1200px) {
  #searchForm {
    display: none
  }
}

li > a.active {
  color: #F99924
}

li > a {

}


